// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import "globals";
@import "variables";

// Import Fonte Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
